/demo.ipynb
/data/*
/workspace/*
/**/__pycache__
/**/.vscode
**/build
tools/widerface_eval/*.so
tools/widerface_eval/box_overlaps.c
tools/coco_eval/cocoapi
/pretrain/*
# teststream.sh
/rebuid2yudet.ipynb
# /calc_flops_params.py
/model_anasizy.py
/images/*
/train_mosaic.py
/refmodels/*
/inferencetest.ipynb
/experiments